﻿<div class="page">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <h2 class="section-header">{{sc.title}}</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                <form role="form" name="sc.sampleForm" ng-submit="sc.isFormValid() && sc.saveSample()" novalidate>
                    <input type="submit" ng-show="false" />
                    <!--<div class="card bg-white">
                    <div class="card-content">-->
                    <div class="panel panel-default col-md-6">
                        <div class="panel-heading">
                            <h5 class="panel-title">Patient</h5>
                        </div>
                        <div class="panel-body row">
                            <md-input-container class="col-md-6">
                                <label for="depositorLastName">{{sc.sampleField.depositorLastName.title}}</label>
                                <input type="text" class="form-control" required id="depositorLastName" name="depositorLastName" ng-model="sc.sampleModel.depositorLastName" ng-model-onblur ng-change="sc.onDepositorChange()"/>
                                <div ng-messages="sc.sampleForm.depositorLastName.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorLastName.$touched || sc.sampleForm.depositorLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorLastName.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorFirstName">{{sc.sampleField.depositorFirstName.title}}</label>
                                <input type="text" class="form-control" required id="depositorFirstName" name="depositorFirstName" ng-model="sc.sampleModel.depositorFirstName" ng-model-onblur ng-change="sc.onDepositorChange()"/>
                                <div ng-messages="sc.sampleForm.depositorFirstName.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorFirstName.$touched || sc.sampleForm.depositorLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorFirstName.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <div class="error location-error col-md-12" ng-show="findName">This patient already exists</div>
                            <md-input-container class="col-md-6 md-date">
                                <div class="input-group ui-datepicker auto-width">
                                    <label for="depositorDob">{{sc.sampleField.depositorDob.title}}</label>
                                    <input type="text" class="form-control auto-width" ng-required="true" id="depositorDob" name="depositorDob"
                                           ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/"
                                           mask="19/39/9999"
                                           datepicker-popup
                                           is-open="sc.depositorDatepickerOpened"
                                           max-date="maxDate"
                                           clearn="true"
                                           ng-model="sc.sampleModel.depositorDob"
                                           ng-change="changeDob(sc.sampleModel.depositorDob, 'depositor')">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="sc.openDepositorDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <div ng-messages="sc.sampleForm.depositorDob.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorDob.$touched || sc.sampleForm.depositorLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorDob.message.required}}</div>
                                        <div ng-message="pattern">{{sc.sampleField.depositorDob.message.date}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <select ng-options="o.id as o.name for o in options"
                                        ng-model="sc.sampleModel.depositorSsnType" name="posterVariants"
                                        class="form-control">
                                </select>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorSsn">{{sc.sampleField.depositorSsn.title}}</label>
                                <input type="text" class="form-control" id="depositorSsn" name="depositorSsn"
                                       ng-model="sc.sampleModel.depositorSsn">
                                <div ng-messages="sc.sampleForm.depositorSsn.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorSsn.$touched || sc.sampleForm.depositorLastName.$invalid || sc.sampleForm.depositorLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorSsn.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="panel panel-default col-md-6">
                        <div class="panel-heading">
                            <h5 class="panel-title">Contact</h5>
                        </div>
                        <div class="panel-body row">
                            <md-input-container class="col-md-6">
                                <label for="depositorAddress">{{sc.sampleField.depositorAddress.title}}</label>
                                <input type="text" class="form-control" id="depositorAddress" name="depositorAddress" ng-model="sc.sampleModel.depositorAddress"/>
                                <div ng-messages="sc.sampleForm.depositorAddress.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorAddress.$touched || sc.sampleForm.depositorAddress.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorAddress.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorCity">{{sc.sampleField.depositorCity.title}}</label>
                                <input type="text" class="form-control" id="depositorCity" name="depositorCity" ng-model="sc.sampleModel.depositorCity">
                                <div ng-messages="sc.sampleForm.depositorCity.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorCity.$touched || sc.sampleForm.depositorCity.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorCity.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorState">{{sc.sampleField.depositorState.title}}</label>
                                <input type="text" class="form-control" id="depositorState" name="depositorState" ng-model="sc.sampleModel.depositorState"/>
                                <div ng-messages="sc.sampleForm.depositorState.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorState.$touched || sc.sampleForm.depositorState.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorState.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorZip">{{sc.sampleField.depositorZip.title}}</label>
                                <input type="text" class="form-control" id="depositorZip" name="depositorZip" ng-model="sc.sampleModel.depositorZip">
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorHomePhone">{{sc.sampleField.depositorHomePhone.title}}</label>
                                <input type="text" class="form-control" id="depositorHomePhone" name="depositorHomePhone" ng-model="sc.sampleModel.depositorHomePhone"/>
                                <div ng-messages="sc.sampleForm.depositorHomePhone.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorHomePhone.$touched || sc.sampleForm.depositorHomePhone.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorHomePhone.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorCellPhone">{{sc.sampleField.depositorCellPhone.title}}</label>
                                <input type="text" class="form-control" id="depositorCellPhone" name="depositorCellPhone" ng-model="sc.sampleModel.depositorCellPhone">
                                <div ng-messages="sc.sampleForm.depositorCellPhone.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorCellPhone.$touched || sc.sampleForm.depositorCellPhone.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorCellPhone.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="depositorEmail">{{sc.sampleField.depositorEmail.title}}</label>
                                <input type="text" class="form-control" id="depositorEmail" name="depositorEmail" ng-model="sc.sampleModel.depositorEmail">
                                <div ng-messages="sc.sampleForm.depositorEmail.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.depositorEmail.$touched || sc.sampleForm.depositorEmail.$invalid">
                                        <div ng-message="required">{{sc.sampleField.depositorEmail.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="panel panel-default col-md-6">
                        <div class="panel-heading">
                            <h5 class="panel-title">Spouse/Partner</h5>
                        </div>
                        <div class="panel-body row">
                            <md-input-container class="col-md-6">
                                <label for="partnerLastName">{{sc.sampleField.partnerLastName.title}}</label>
                                <input type="text" class="form-control" id="partnerLastName" name="partnerLastName" ng-model="sc.sampleModel.partnerLastName"/>
                                <div ng-messages="sc.sampleForm.partnerLastName.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerLastName.$touched || sc.sampleForm.partnerLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerLastName.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerFirstName">{{sc.sampleField.partnerFirstName.title}}</label>
                                <input type="text" class="form-control" id="partnerFirstName" name="partnerFirstName" ng-model="sc.sampleModel.partnerFirstName">
                                <div ng-messages="sc.sampleForm.partnerFirstName.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerFirstName.$touched || sc.sampleForm.partnerLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerFirstName.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6 md-date">
                                <div class="input-group ui-datepicker auto-width">
                                    <label for="partnerDob">{{sc.sampleField.partnerDob.title}}</label>
                                    <input type="text" class="form-control auto-width" id="partnerDob" name="partnerDob"
                                           ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/"
                                           mask="19/39/9999"
                                           datepicker-popup
                                           is-open="sc.partnerDatepickerOpened"
                                           max-date="maxDate"
                                           clearn="true"
                                           ng-model="sc.sampleModel.partnerDob"
                                           ng-change="changeDob(sc.sampleModel.partnerDob, 'partner')">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="sc.openPartnerDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                                <div ng-messages="sc.sampleForm.partnerDob.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerDob.$touched || sc.sampleForm.partnerLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerDob.message.required}}</div>
                                        <div ng-message="pattern">{{sc.sampleField.partnerDob.message.date}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <select ng-options="o.id as o.name for o in options"
                                        ng-model="sc.sampleModel.partnerSsnType" name="posterVariants"
                                        class="form-control">
                                </select>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerSsn">{{sc.sampleField.partnerSsn.title}}</label>
                                <input type="text" class="form-control" id="partnerSsn" name="partnerSsn"
                                       ng-model="sc.sampleModel.partnerSsn">
                                <div ng-messages="sc.sampleForm.partnerSsn.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerSsn.$touched || sc.sampleForm.partnerLastName.$invalid || sc.sampleForm.partnerLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerSsn.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="panel panel-default col-md-6">
                        <div class="panel-heading">
                            <h5 class="panel-title">Contact</h5>
                        </div>
                        <div class="panel-body row">
                            <md-input-container class="col-md-6">
                                <label for="partnerAddress">{{sc.sampleField.partnerAddress.title}}</label>
                                <input type="text" class="form-control" id="partnerAddress" name="partnerAddress" ng-model="sc.sampleModel.partnerAddress"/>
                                <div ng-messages="sc.sampleForm.partnerAddress.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerAddress.$touched || sc.sampleForm.partnerAddress.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerAddress.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerCity">{{sc.sampleField.partnerCity.title}}</label>
                                <input type="text" class="form-control" id="partnerCity" name="partnerCity" ng-model="sc.sampleModel.partnerCity">
                                <div ng-messages="sc.sampleForm.partnerCity.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerCity.$touched || sc.sampleForm.partnerCity.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerCity.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerState">{{sc.sampleField.partnerState.title}}</label>
                                <input type="text" class="form-control" id="partnerState" name="partnerState" ng-model="sc.sampleModel.partnerState"/>
                                <div ng-messages="sc.sampleForm.partnerState.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerState.$touched || sc.sampleForm.partnerState.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerState.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerZip">{{sc.sampleField.partnerZip.title}}</label>
                                <input type="text" class="form-control" id="partnerZip" name="partnerZip" ng-model="sc.sampleModel.partnerZip">
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerHomePhone">{{sc.sampleField.partnerHomePhone.title}}</label>
                                <input type="text" class="form-control" id="partnerHomePhone" name="partnerHomePhone" ng-model="sc.sampleModel.partnerHomePhone"/>
                                <div ng-messages="sc.sampleForm.partnerHomePhone.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerHomePhone.$touched || sc.sampleForm.partnerHomePhone.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerHomePhone.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerCellPhone">{{sc.sampleField.partnerCellPhone.title}}</label>
                                <input type="text" class="form-control" id="partnerCellPhone" name="partnerCellPhone" ng-model="sc.sampleModel.partnerCellPhone">
                                <div ng-messages="sc.sampleForm.partnerCellPhone.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerCellPhone.$touched || sc.sampleForm.partnerCellPhone.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerCellPhone.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-6">
                                <label for="partnerEmail">{{sc.sampleField.partnerEmail.title}}</label>
                                <input type="text" class="form-control" id="partnerEmail" name="partnerEmail" ng-model="sc.sampleModel.partnerEmail">
                                <div ng-messages="sc.sampleForm.partnerEmail.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.partnerEmail.$touched || sc.sampleForm.partnerEmail.$invalid">
                                        <div ng-message="required">{{sc.sampleField.partnerEmail.message.required}}</div>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="col-md-10">
                                    <md-button type="button" class="md-raised md-primary btn-w-md pull-right" ng-click="sc.copyAddressInformation()">Copy Address Info</md-button>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="panel panel-default col-md-3">
                        <div class="panel-body row">
                            <div class="col-md-12">
                                <p class="col-md-12">{{sc.sampleField.physician.title}}</p>
                                <md-select ng-model="sc.sampleModel.physicianId" required name="physician" class="col-md-12" id="physician" placeholder="Choose Physician">
                                    <md-option ng-repeat="physician in sc.physicians" value="{{physician.id}}">{{physician.name}}</md-option>
                                </md-select>
                                <div ng-messages="sc.sampleForm.physician.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.physician.$touched || sc.sampleForm.depositorLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.physician.message.required}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <md-switch ng-model="sc.sampleModel.autologous" aria-label="Autologous" class="md-primary no-margin-top no-margin-bottom" ng-disabled="autologousDisabled">Autologous</md-switch>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <md-switch ng-model="sc.sampleModel.testingOnFile" aria-label="TestingOnFile" class="md-primary no-margin-top no-margin-bottom">STD testing on file</md-switch>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <md-switch ng-model="sc.sampleModel.refreeze" aria-label="Refreeze" class="md-primary no-margin-top no-margin-bottom">Refreeze</md-switch>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <md-switch ng-model="sc.sampleModel.cryobankPurchased" aria-label="CryobankPurchased" class="md-primary no-margin-top no-margin-bottom">Cryobank Purchased</md-switch>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <md-switch ng-model="sc.sampleModel.directedDonor" aria-label="DirectedDonor" class="mmd-primary no-margin-top no-margin-bottom" ng-disabled="directedDonorDisabled">Directed Donor</md-switch>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <md-switch ng-model="sc.sampleModel.anonymousDonor" aria-label="AnonymousDonor" class="md-primary no-margin-top" ng-disabled="anonymousDonorDisabled">Anonymous Donor</md-switch>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default col-md-9">
                        <div class="panel-body row">
                            <div class="col-md-12">
                                <label for="partnerSsn">{{sc.sampleField.comment.title}}</label>
                                <textarea class="form-control col-md-12" ng-model="sc.sampleModel.comment" required name="comment" id="comment"></textarea>
                                <div ng-messages="sc.sampleForm.comment.$error">
                                    <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.comment.$touched || sc.sampleForm.depositorLastName.$invalid">
                                        <div ng-message="required">{{sc.sampleField.comment.message.required}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div ng-show="sc.sampleModel.cryobankPurchased" class="col-md-10">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Third Party</h5>
                                </div>
                                <md-input-container class="col-md-5">
                                    <label for="cryobankName">{{sc.sampleField.cryobankName.title}}</label>
                                    <input type="text" class="form-control" ng-required="sc.sampleModel.cryobankPurchased"
                                           id="cryobankName" name="cryobankName" ng-model="sc.sampleModel.cryobankName" />
                                    <div ng-messages="sc.sampleForm.cryobankName.$error">
                                        <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.cryobankName.$touched || sc.sampleForm.depositorLastName.$invalid">
                                            <div ng-message="required">{{sc.sampleField.cryobankName.message.required}}</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="col-md-5">
                                    <label for="cryobankVialId">{{sc.sampleField.cryobankVialId.title}}</label>
                                    <input type="text" class="form-control" ng-required="sc.sampleModel.cryobankPurchased"
                                           id="cryobankVialId" name="cryobankVialId" ng-model="sc.sampleModel.cryobankVialId" />
                                    <div ng-messages="sc.sampleForm.cryobankVialId.$error">
                                        <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.cryobankVialId.$touched || sc.sampleForm.depositorLastName.$invalid">
                                            <div ng-message="required">{{sc.sampleField.cryobankVialId.message.required}}</div>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div ng-show="sc.sampleModel.directedDonor" class="col-md-12 card-content">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Directed Donor</h5>
                                </div>
                                <md-input-container class="col-md-3">
                                    <label for="directedDonorId">{{sc.sampleField.directedDonorId.title}}</label>
                                    <input type="text" class="form-control" ng-required="sc.sampleModel.directedDonor"
                                           id="directedDonorId" name="directedDonorId" ng-model="sc.sampleModel.directedDonorId" />
                                    <div ng-messages="sc.sampleForm.directedDonorId.$error">
                                        <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.directedDonorId.$touched || sc.sampleForm.depositorLastName.$invalid">
                                            <div ng-message="required">{{sc.sampleField.directedDonorId.message.required}}</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="col-md-3 md-date">
                                    <div class="input-group ui-datepicker auto-width">
                                        <label for="directedDonorDob">{{sc.sampleField.directedDonorDob.title}}</label>
                                        <input type="text" class="form-control dob-dateauto-widthctedDonorDob" ng-model="sc.sampleModel.directedDonorDob"
                                               ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/"
                                               data-mask="19/39/9999"
                                               max-date="maxDate"
                                               data-clearn="true"
                                               datepicker-popup
                                               ng-change="changeDob(sc.sampleModel.directedDonorDob, 'directedDonor')"
                                               is-open="sc.directedDonorDatepickerOpened"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="sc.openDirectedDonorDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                    <div ng-messages="sc.sampleForm.directedDonorDob.$error">
                                        <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.directedDonorDob.$touched || sc.sampleForm.depositorLastName.$invalid">
                                            <div ng-message="required">{{sc.sampleField.directedDonorDob.message.required}}</div>
                                            <div ng-message="pattern">{{sc.sampleField.directedDonorDob.message.date}}</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="col-md-3">
                                    <label for="directedDonorLastName">{{sc.sampleField.directedDonorLastName.title}}</label>
                                    <input type="text" class="form-control" ng-required="sc.sampleModel.directedDonor"
                                           id="directedDonorLastName" name="directedDonorLastName" ng-model="sc.sampleModel.directedDonorLastName" />
                                    <div ng-messages="sc.sampleForm.directedDonorLastName.$error">
                                        <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.directedDonorLastName.$touched || sc.sampleForm.depositorLastName.$invalid">
                                            <div ng-message="required">{{sc.sampleField.directedDonorLastName.message.required}}</div>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="col-md-3">
                                    <label for="directedDonorFirstName">{{sc.sampleField.directedDonorFirstName.title}}</label>
                                    <input type="text" class="form-control" ng-required="sc.sampleModel.directedDonor"
                                           id="directedDonorFirstName" name="directedDonorFirstName" ng-model="sc.sampleModel.directedDonorFirstName" />
                                    <div ng-messages="sc.sampleForm.directedDonorFirstName.$error">
                                        <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.directedDonorFirstName.$touched || sc.sampleForm.depositorLastName.$invalid">
                                            <div ng-message="required">{{sc.sampleField.directedDonorFirstName.message.required}}</div>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div ng-show="sc.sampleModel.anonymousDonor" class="col-md-4 card-content">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Anonymous Donor</h5>
                                </div>
                                <md-input-container>
                                    <label for="anonymousDonorId">{{sc.sampleField.anonymousDonorId.title}}</label>
                                    <input type="text" class="form-control" ng-required="sc.sampleModel.anonymousDonor"
                                           id="anonymousDonorId" name="anonymousDonorId" ng-model="sc.sampleModel.anonymousDonorId" />
                                    <div ng-messages="sc.sampleForm.anonymousDonorId.$error">
                                        <div ng-show="sc.sampleForm.$submitted || sc.sampleForm.anonymousDonorId.$touched || sc.sampleForm.depositorLastName.$invalid">
                                            <div ng-message="required">{{sc.sampleField.anonymousDonorId.message.required}}</div>
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default col-md-12">
                        <div class="panel-heading">
                            <h5 class="panel-title">Locations</h5>
                        </div>
                        <div class="panel-body">
                            <div class="row well well-sm" ng-repeat="(key, value) in sc.locations">

                                <div class="col-md-1">
                                    <md-select ng-model="sc.locations[key].tank" placeholder="Tank" ng-change="sc.onTankChange(key)" class="col-md">
                                        <md-option ng-repeat="tank in sc.tanks" value="{{tank.name}}">{{tank.name}}</md-option>
                                    </md-select>
                                </div>
                                <div class="col-md-1">
                                    <md-select ng-model="sc.locations[key].canister" placeholder="Canister" ng-change="sc.onStorageChange(key)" class="col-md">
                                        <md-option ng-repeat="canister in sc.canisters[key]" value="{{canister}}">{{canister}}</md-option>
                                    </md-select>
                                </div>
                                <div class="col-md-1">
                                    <md-select ng-model="sc.locations[key].caneLetter" placeholder="Cane" ng-change="sc.onStorageChange(key)" class="col-md">
                                        <md-option ng-repeat="letter in sc.letters[key]" value="{{letter}}">{{letter}}</md-option>
                                    </md-select>
                                </div>
                                <div class="col-md-1">
                                    <md-select ng-model="sc.locations[key].caneColor" placeholder="Color" ng-change="sc.onStorageChange(key)" class="col-md">
                                        <md-option ng-repeat="color in sc.colors" value="{{color}}">{{color}}</md-option>
                                    </md-select>
                                </div>
                                <div class="col-md-1">
                                    <md-select multiple required ng-model="sc.locations[key].posForShow" placeholder="Position" ng-change="sc.onStorageChange(key)" class="col-md">
                                        <md-option ng-repeat="position in sc.positions[key]" value="{{position}}">{{position}}</md-option>
                                    </md-select>
                                </div>
                                <div class="col-md-5 auto-width">
                                    <md-input-container class="col-md-3 md-date-stored">
                                        <div class="input-group ui-datepicker">
                                            <label for="{{'dateStored' + key}}">{{sc.sampleField.dateStored.title}}</label>
                                            <input type="text" class="form-control"
                                                   id="{{'dateStored' + key}}" name="{{'dateStored' + key}}" ng-model="sc.locations[key].dateStored"
                                                   ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/"
                                                   data-mask="19/39/9999"
                                                   max-date="maxDate"
                                                   datepicker-popup
                                                   is-open="sc['dateStoredDatepickerOpened' + key]"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="sc.openDateStoredDatepicker($event, key)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="col-md-3 md-date-frozen">
                                        <div class="input-group ui-datepicker">
                                            <label for="{{'dateFrozen' + key}}">{{sc.sampleField.dateFrozen.title}}</label>
                                            <input type="text" class="form-control"
                                                   id="{{'dateFrozen' + key}}" name="{{'dateFrozen' + key}}" ng-model="sc.locations[key].dateFrozen"
                                                   ng-pattern="/^(0[1-9]|1[0-2])\/(0[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}$/"
                                                   data-mask="19/39/9999"
                                                   max-date="maxDate"
                                                   datepicker-popup
                                                   is-open="sc['dateFrozenDatepickerOpened' + key]"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="sc.openDateFrozenDatepicker($event, key)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="col-md-3">
                                        <label for="specimenNumber">{{sc.sampleField.specimenNumber.title}}</label>
                                        <input type="text" class="form-control" id="specimenNumber" name="specimenNumber" ng-model="sc.locations[key].specimenNumber"/>
                                    </md-input-container>

                                    <div class="col-md-4">
                                        <md-select ng-model="sc.locations[key].collectionMethodId" class="location-method-padding" required name="methodOfCollection" id="methodOfCollection" placeholder="Choose Method Of Collection">
                                            <md-option ng-repeat="method in sc.collectionMethods" value="{{method.id}}">{{method.name}}</md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <md-input-container class="col-md-2" ng-show="key > 0">
                                    <md-button type="button" aria-label="remove" ng-if="!sc.locations[key].exists" class="md-raised md-warn" ng-click="sc.removeLocation($event, key)">
                                        Remove
                                    </md-button>
                                    <md-button type="button" aria-label="remove" ng-if="sc.locations[key].exists" class="md-raised md-warn" ng-click="sc.extractLocation($event, key)">
                                        Extract
                                    </md-button>
                                    <md-button type="button" aria-label="remove" ng-if="sc.locations[key].caneIsEmpty" class="md-raised md-primary margin-top-5"
                                               ng-click="sc.takeAllPosition($event, key)">
                                        Take All position
                                    </md-button>
                                </md-input-container>
                                <div class="error location-error col-md-12" ng-show="!sc.locations[key].available && sc.locations[key].filled">Selected location is currently in use</div>
                            </div>
                            <md-button type="button" aria-label="headphones" class="md-raised md-accent btn-w-md" ng-click="sc.addLocation($event)">
                                Add Location
                            </md-button>
                            <md-button type="button" class="md-raised md-primary btn-w-md pull-right" ng-disabled="!sc.isFormValid()" ng-click="sc.saveSample($event)">Save Sample</md-button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="row" app-print ng-show="false">
    <div sample-print="sample"></div>
</div>