﻿<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span>Navigation</span>
        </li>
        <li ui-wave><a ui-sref="reports"> <i class="imd imd-home"></i><span>Reports</span> </a></li>
        <li ui-wave><a ui-sref="extracted"> <i class="imd imd-home"></i><span>Extracted Samples</span> </a></li>
        <li ui-wave ng-show="!isReportGenerator()"><a ui-sref="samples"> <i class="imd imd-home"></i><span>Records</span> </a></li>
        <li ui-wave ng-show="!isReportGenerator()"><a ui-sref="sample"><i class="imd imd-edit"></i><span>Add record</span></a></li>
        <li ui-wave ng-show="isAdmin()">
            <a href="#"><i class="imd imd-view-list"></i><span>Admin</span></a>
            <ul>
                <li><a ui-sref="admin.collectionMethod"><i class="fa fa-angle-right"></i><span>Collection Methods</span></a></li>
                <li><a ui-sref="admin.physician"><i class="fa fa-angle-right"></i><span>Physicians</span></a></li>
                <li><a ui-sref="admin.extractReason"><i class="fa fa-angle-right"></i><span>Reasons for Extraction</span></a></li>
                <li><a ui-sref="admin.storage"><i class="fa fa-angle-right"></i><span>Storage</span></a></li>
                <li><a ui-sref="admin.user"><i class="fa fa-angle-right"></i><span>Users</span></a></li>
            </ul>
        </li>
    </ul>
</div>